<!DOCTYPE html>

<head>
  <style>
    .container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .noShow {
      visibility: hidden;
    }
    .container label {
      margin-top: 0.5rem;
    }
  </style>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lumen/bootstrap.min.css"
  />
</head>
<body>
  <div class="container">
    <h3>Insert Image</h3>
    <input
      type="file"
      id="avatar"
      name="avatar"
      accept="image/png, image/jpeg"
      onchange="get_files()"
    />
    <img id="output" />
    <button onclick="get_files()" class="btn btn-info">Predict</button>
    <span class="result noShow"></span>
  </div>

  <script>
    let upload_files;

    async function get_files() {
      const input_files = Array.from(document.getElementById("avatar").files);

      const output = document.getElementById("output");

      output.src = URL.createObjectURL(input_files[0]);
      output.height = 300;
      output.width = 350;

      let formData = new FormData();

      input_files.forEach((file) => {
        formData.append(file.name, file);
      });
      const response = await fetch("/upload/image", { method: "POST", body: formData });
      const prediction = await response.json()
      console.log(prediction);
      updateDom(prediction.prediction)
    }

    function updateDom(prediction) {
      const domItem = document.querySelector(".result");
      domItem.textContent = prediction;
      domItem.classList.toggle("noShow");
    }
  </script>
</body>
